nvim/backup
nvim/notes.db
nvim/shada
nvim/undo
nvim/view

w3m/history
w3m/w3mtmp*
w3m/w3mcache*

ptpython/history

aws/credentials
bash_secrets

vagrant/*/.vagrant/
vagrant/*.log
vagrant/freebsd/*/*.box
github-copilot/*

ps1/target
murmur/target

bin/ps1
bin/murmur
