vim/backup
vim/black
vim/.netrwhist
vim/plugged
vim/shada
vim/undo
vim/view
vim/autoload/plug.vim

w3m/history
w3m/w3mtmp*
w3m/w3mcache*

karabiner/automatic_backups/
newsboat/cache.*
newsboat/history.*

ptpython/history

aws/credentials
