[submodule "vim/bundle/tomorrow-theme"]
	path = vim/bundle/tomorrow-theme
	url = git@github.com:chriskempson/tomorrow-theme.git
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/bundle/better-header"]
	path = vim/bundle/better-header
	url = git@github.com:xiaket/better-header.git
[submodule "vim/bundle/AutoClose"]
	path = vim/bundle/AutoClose
	url = git@github.com:vim-scripts/AutoClose.git
[submodule "vim/bundle/vim-python-pep8-indent"]
	path = vim/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "vim/bundle/python-syntax"]
	path = vim/bundle/python-syntax
	url = git@github.com:hdima/python-syntax.git
