snippet exit
import sys
sys.exit()
endsnippet

snippet interact
from xiaket.interact import shell
shell(globals(), locals())
endsnippet

snippet datetime
from datetime import datetime
endsnippet

snippet ifmain
if __name__ == '__main__':
	main()
endsnippet

snippet .
self.
endsnippet
