#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=xbindkeys
Exec=env PATH="/bin:/usr/bin:/home/xiaket/.xiaket/etc/bin" xbindkeys -n -f /home/xiaket/.xbindkeysrc
Categories=System;
