[Unit]
Description=xremap

[Service]
ExecStart=/home/xiaket/.cargo/bin/xremap /home/xiaket/.xiaket/etc/xremap/config.yml
Type=simple
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
